@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  background-color: bisque; }

header {
  border-bottom: solid 5px gray;
  background-color: coral;
  /*NAV*/ }
  header .logoHot {
    width: 180px;
    height: 100px;
    margin-left: 30px; }
  header .fuentesNav {
    font-size: 1.3rem;
    padding-left: 2rem; }
    header .fuentesNav li {
      margin-left: 80px; }

.error {
  background-color: white; }
  .error div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2rem; }
    .error div .colorButton button {
      background-color: coral;
      width: 500px;
      height: 70px; }
      .error div .colorButton button a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem; }

main .queSomos {
  text-align: center;
  text-decoration: underline;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  color: black;
  font-family: 'Roboto', sans-serif; }

main .fondoForm {
  top: 1rem;
  box-shadow: 0 10px 30px #000;
  border: 1px solid #ffffff40; }
  main .fondoForm .glass-effect {
    background-color: #fafafa10;
    backdrop-filter: blur(0.4rem); }
  main .fondoForm .tituloForm {
    text-decoration: underline;
    color: coral; }
  main .fondoForm .loremForm {
    color: black; }

main .colorBtn {
  background-color: white;
  color: c black;
  font-size: 1.5rem;
  margin: 5px; }
  main .colorBtn:hover {
    background-color: coral;
    color: black; }

main .smallForm {
  font-size: 20px; }

main .dropdown {
  text-align: center;
  margin-bottom: 3.5rem; }
  main .dropdown .colorCard {
    width: 25rem;
    border-radius: 1rem;
    margin-top: 20px; }
    main .dropdown .colorCard img {
      width: 135px;
      height: 100px; }

main .dropdown-menu {
  width: 25rem;
  text-align: center;
  border-radius: 1rem; }
  main .dropdown-menu:hover {
    background-color: gray; }
  main .dropdown-menu .dropdown-item {
    text-decoration: none; }
    main .dropdown-menu .dropdown-item:hover {
      background-color: gray; }

/* OFERTAS/DESCUENTOS */
main .ofertas-descuentos {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px; }

main .dropdown-ofertas {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  main .dropdown-ofertas:hover {
    margin-bottom: 24rem; }
  main .dropdown-ofertas .categorias {
    width: 50rem;
    text-align: center;
    font-size: 2rem; }
  main .dropdown-ofertas .catList {
    width: 50rem; }
    main .dropdown-ofertas .catList:hover {
      background-color: white; }
    main .dropdown-ofertas .catList li {
      margin-top: 8px; }
      main .dropdown-ofertas .catList li:hover {
        background-color: gray;
        color: white; }
  main .dropdown-ofertas .dropdown-lista {
    color: black;
    font-size: 1rem;
    text-decoration: none; }

main .cardOfertas {
  padding: 0%;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  margin: 1rem; }
  main .cardOfertas:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translate(-3%); }
  main .cardOfertas .card-body {
    text-align: center; }
    main .cardOfertas .card-body .card-title {
      margin-top: 8px;
      margin-bottom: 8px; }
  main .cardOfertas .btnCard {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: coral;
    border: 1px solid coral;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 10px; }
    main .cardOfertas .btnCard:hover {
      background: coral;
      color: white; }

main .masOfertas {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px; }
  main .masOfertas a {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black; }

.fondoImg {
  background-image: url("../img/HOME 3.png");
  height: calc(100vh - 100px);
  background-size: cover; }

.tienda {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.emaCaja {
  height: 250px;
  width: 700px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4rem;
  box-shadow: 20px 2px 10px;
  opacity: 90%;
  margin-top: 20rem;
  max-width: 90%;
  background-color: white;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto; }
  .emaCaja h2 {
    font-family: Georgia, 'Times New Roman', Times, serif; }
  .emaCaja p,
  .emaCaja a {
    color: blue; }

.tituloAyuda {
  text-decoration: underline;
  margin-left: 4rem; }

.ayuda {
  margin-left: 4rem; }
  .ayuda a {
    color: black;
    text-decoration: none;
    font-size: 20px; }
  .ayuda button {
    color: black;
    border-radius: 7px;
    margin: 8px;
    background-color: white;
    padding: 5px 20px;
    width: 25rem;
    cursor: pointer;
    transition: all 400ms ease;
    margin-bottom: 18px; }
    .ayuda button:hover {
      background-color: gray;
      transform: translate(1%); }
