@import "../utilidades/variables";

//Ayuda 
.tituloAyuda {
    text-decoration: underline;
    margin-left: 4rem;
}

.ayuda {
    margin-left: 4rem;

    a {
        color: $color-general;
        text-decoration: none;
        font-size: 20px;
    }

    button {
        color:$color-general;
        border-radius: 7px;
        margin: 8px;
        background-color: $color-botones;
        padding: 5px 20px;
        width: 25rem;
        cursor: pointer;
        transition: all 400ms ease;
        margin-bottom: 18px;

        &:hover {
            background-color: $color-hover;
            transform: translate(1%);
        }
    }
}